<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>.null</key>
	<string>_null.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>Cacute</key>
	<string>C_acute.glif</string>
	<key>Ccaron</key>
	<string>C_caron.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gbreve</key>
	<string>G_breve.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Idotaccent</key>
	<string>I_dotaccent.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lslash</key>
	<string>L_slash.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Otilde</key>
	<string>O_tilde.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Scaron</key>
	<string>S_caron.glif</string>
	<key>Scedilla</key>
	<string>S_cedilla.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zcaron</key>
	<string>Z_caron.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nonbreakingspace</key>
	<string>nonbreakingspace.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni00ad</key>
	<string>uni00ad.glif</string>
	<key>uni0100</key>
	<string>uni0100.glif</string>
	<key>uni0101</key>
	<string>uni0101.glif</string>
	<key>uni0102</key>
	<string>uni0102.glif</string>
	<key>uni0103</key>
	<string>uni0103.glif</string>
	<key>uni0104</key>
	<string>uni0104.glif</string>
	<key>uni0105</key>
	<string>uni0105.glif</string>
	<key>uni0108</key>
	<string>uni0108.glif</string>
	<key>uni0109</key>
	<string>uni0109.glif</string>
	<key>uni010a</key>
	<string>uni010a.glif</string>
	<key>uni010b</key>
	<string>uni010b.glif</string>
	<key>uni010e</key>
	<string>uni010e.glif</string>
	<key>uni010f</key>
	<string>uni010f.glif</string>
	<key>uni0110</key>
	<string>uni0110.glif</string>
	<key>uni0112</key>
	<string>uni0112.glif</string>
	<key>uni0113</key>
	<string>uni0113.glif</string>
	<key>uni0114</key>
	<string>uni0114.glif</string>
	<key>uni0115</key>
	<string>uni0115.glif</string>
	<key>uni0116</key>
	<string>uni0116.glif</string>
	<key>uni0117</key>
	<string>uni0117.glif</string>
	<key>uni0118</key>
	<string>uni0118.glif</string>
	<key>uni0119</key>
	<string>uni0119.glif</string>
	<key>uni011a</key>
	<string>uni011a.glif</string>
	<key>uni011b</key>
	<string>uni011b.glif</string>
	<key>uni011c</key>
	<string>uni011c.glif</string>
	<key>uni011d</key>
	<string>uni011d.glif</string>
	<key>uni0120</key>
	<string>uni0120.glif</string>
	<key>uni0121</key>
	<string>uni0121.glif</string>
	<key>uni0122</key>
	<string>uni0122.glif</string>
	<key>uni0123</key>
	<string>uni0123.glif</string>
	<key>uni0124</key>
	<string>uni0124.glif</string>
	<key>uni0125</key>
	<string>uni0125.glif</string>
	<key>uni0126</key>
	<string>uni0126.glif</string>
	<key>uni0127</key>
	<string>uni0127.glif</string>
	<key>uni0128</key>
	<string>uni0128.glif</string>
	<key>uni0129</key>
	<string>uni0129.glif</string>
	<key>uni012a</key>
	<string>uni012a.glif</string>
	<key>uni012b</key>
	<string>uni012b.glif</string>
	<key>uni012c</key>
	<string>uni012c.glif</string>
	<key>uni012d</key>
	<string>uni012d.glif</string>
	<key>uni012e</key>
	<string>uni012e.glif</string>
	<key>uni012f</key>
	<string>uni012f.glif</string>
	<key>uni0132</key>
	<string>uni0132.glif</string>
	<key>uni0133</key>
	<string>uni0133.glif</string>
	<key>uni0134</key>
	<string>uni0134.glif</string>
	<key>uni0135</key>
	<string>uni0135.glif</string>
	<key>uni0136</key>
	<string>uni0136.glif</string>
	<key>uni0137</key>
	<string>uni0137.glif</string>
	<key>uni0138</key>
	<string>uni0138.glif</string>
	<key>uni0139</key>
	<string>uni0139.glif</string>
	<key>uni013a</key>
	<string>uni013a.glif</string>
	<key>uni013b</key>
	<string>uni013b.glif</string>
	<key>uni013c</key>
	<string>uni013c.glif</string>
	<key>uni013d</key>
	<string>uni013d.glif</string>
	<key>uni013e</key>
	<string>uni013e.glif</string>
	<key>uni013f</key>
	<string>uni013f.glif</string>
	<key>uni0140</key>
	<string>uni0140.glif</string>
	<key>uni0143</key>
	<string>uni0143.glif</string>
	<key>uni0144</key>
	<string>uni0144.glif</string>
	<key>uni0145</key>
	<string>uni0145.glif</string>
	<key>uni0146</key>
	<string>uni0146.glif</string>
	<key>uni0147</key>
	<string>uni0147.glif</string>
	<key>uni0148</key>
	<string>uni0148.glif</string>
	<key>uni0149</key>
	<string>uni0149.glif</string>
	<key>uni014a</key>
	<string>uni014a.glif</string>
	<key>uni014b</key>
	<string>uni014b.glif</string>
	<key>uni014c</key>
	<string>uni014c.glif</string>
	<key>uni014d</key>
	<string>uni014d.glif</string>
	<key>uni014e</key>
	<string>uni014e.glif</string>
	<key>uni014f</key>
	<string>uni014f.glif</string>
	<key>uni0150</key>
	<string>uni0150.glif</string>
	<key>uni0151</key>
	<string>uni0151.glif</string>
	<key>uni0154</key>
	<string>uni0154.glif</string>
	<key>uni0155</key>
	<string>uni0155.glif</string>
	<key>uni0156</key>
	<string>uni0156.glif</string>
	<key>uni0157</key>
	<string>uni0157.glif</string>
	<key>uni0158</key>
	<string>uni0158.glif</string>
	<key>uni0159</key>
	<string>uni0159.glif</string>
	<key>uni015a</key>
	<string>uni015a.glif</string>
	<key>uni015b</key>
	<string>uni015b.glif</string>
	<key>uni015c</key>
	<string>uni015c.glif</string>
	<key>uni015d</key>
	<string>uni015d.glif</string>
	<key>uni0162</key>
	<string>uni0162.glif</string>
	<key>uni0163</key>
	<string>uni0163.glif</string>
	<key>uni0164</key>
	<string>uni0164.glif</string>
	<key>uni0165</key>
	<string>uni0165.glif</string>
	<key>uni0166</key>
	<string>uni0166.glif</string>
	<key>uni0167</key>
	<string>uni0167.glif</string>
	<key>uni0168</key>
	<string>uni0168.glif</string>
	<key>uni0169</key>
	<string>uni0169.glif</string>
	<key>uni016a</key>
	<string>uni016a.glif</string>
	<key>uni016b</key>
	<string>uni016b.glif</string>
	<key>uni016c</key>
	<string>uni016c.glif</string>
	<key>uni016d</key>
	<string>uni016d.glif</string>
	<key>uni016e</key>
	<string>uni016e.glif</string>
	<key>uni016f</key>
	<string>uni016f.glif</string>
	<key>uni0170</key>
	<string>uni0170.glif</string>
	<key>uni0171</key>
	<string>uni0171.glif</string>
	<key>uni0172</key>
	<string>uni0172.glif</string>
	<key>uni0173</key>
	<string>uni0173.glif</string>
	<key>uni0174</key>
	<string>uni0174.glif</string>
	<key>uni0175</key>
	<string>uni0175.glif</string>
	<key>uni0176</key>
	<string>uni0176.glif</string>
	<key>uni0177</key>
	<string>uni0177.glif</string>
	<key>uni0179</key>
	<string>uni0179.glif</string>
	<key>uni017a</key>
	<string>uni017a.glif</string>
	<key>uni017b</key>
	<string>uni017b.glif</string>
	<key>uni017c</key>
	<string>uni017c.glif</string>
	<key>uni01fc</key>
	<string>uni01fc.glif</string>
	<key>uni01fd</key>
	<string>uni01fd.glif</string>
	<key>uni01fe</key>
	<string>uni01fe.glif</string>
	<key>uni01ff</key>
	<string>uni01ff.glif</string>
	<key>uni0237</key>
	<string>uni0237.glif</string>
	<key>uni0312</key>
	<string>uni0312.glif</string>
	<key>uni0315</key>
	<string>uni0315.glif</string>
	<key>uni0326</key>
	<string>uni0326.glif</string>
	<key>uni1e80</key>
	<string>uni1e80.glif</string>
	<key>uni1e81</key>
	<string>uni1e81.glif</string>
	<key>uni1e82</key>
	<string>uni1e82.glif</string>
	<key>uni1e83</key>
	<string>uni1e83.glif</string>
	<key>uni1e84</key>
	<string>uni1e84.glif</string>
	<key>uni1e85</key>
	<string>uni1e85.glif</string>
	<key>uni1ef2</key>
	<string>uni1ef2.glif</string>
	<key>uni1ef3</key>
	<string>uni1ef3.glif</string>
	<key>uni20ac</key>
	<string>uni20ac.glif</string>
	<key>uni20bf</key>
	<string>uni20bf.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
