<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array>
		<string>`</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>{</string>
		<string>|</string>
		<string>}</string>
		<string>~</string>
		<string> </string>
		<string>¡</string>
		<string>¢</string>
		<string>£</string>
		<string>¤</string>
		<string>¥</string>
		<string>¦</string>
		<string>§</string>
		<string>¨</string>
		<string>©</string>
		<string>ª</string>
		<string>«</string>
		<string>¬</string>
		<string>­</string>
		<string>®</string>
		<string>¯</string>
		<string>°</string>
		<string>±</string>
		<string>²</string>
		<string>³</string>
		<string>´</string>
		<string>µ</string>
		<string>¶</string>
		<string>·</string>
		<string>¸</string>
		<string>¹</string>
		<string>º</string>
		<string>»</string>
		<string>¼</string>
		<string>½</string>
		<string>¾</string>
		<string>¿</string>
		<string>À</string>
		<string>/florin</string>
		<string>/fi</string>
	</array>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<true/>
	<key>com.schriftgestaltung.font.license</key>
	<string>This Font Software is licensed under the SIL Open Font License,Version 1.1. This license is available with a FAQ at:http://scripts.sil.org/OFL</string>
	<key>com.schriftgestaltung.font.licenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>com.schriftgestaltung.font.panose</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>com.schriftgestaltung.font.postscriptStrikeoutPosition</key>
	<integer>258</integer>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>BE69E051-C841-4310-88B9-CCACE61EC49C</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>.null</string>
		<string>CR</string>
		<string>space</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>nonbreakingspace</string>
		<string>exclamdown</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>dieresis</string>
		<string>copyright</string>
		<string>ordfeminine</string>
		<string>guillemotleft</string>
		<string>logicalnot</string>
		<string>uni00ad</string>
		<string>registered</string>
		<string>macron</string>
		<string>degree</string>
		<string>plusminus</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>acute</string>
		<string>mu</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>cedilla</string>
		<string>onesuperior</string>
		<string>ordmasculine</string>
		<string>guillemotright</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>questiondown</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>Ccedilla</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Eth</string>
		<string>Ntilde</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>multiply</string>
		<string>Oslash</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Thorn</string>
		<string>germandbls</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>eth</string>
		<string>ntilde</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>divide</string>
		<string>oslash</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>yacute</string>
		<string>thorn</string>
		<string>ydieresis</string>
		<string>uni0100</string>
		<string>uni0101</string>
		<string>uni0102</string>
		<string>uni0103</string>
		<string>uni0104</string>
		<string>uni0105</string>
		<string>Cacute</string>
		<string>cacute</string>
		<string>uni0108</string>
		<string>uni0109</string>
		<string>uni010a</string>
		<string>uni010b</string>
		<string>Ccaron</string>
		<string>ccaron</string>
		<string>uni010e</string>
		<string>uni010f</string>
		<string>uni0110</string>
		<string>dcroat</string>
		<string>uni0112</string>
		<string>uni0113</string>
		<string>uni0114</string>
		<string>uni0115</string>
		<string>uni0116</string>
		<string>uni0117</string>
		<string>uni0118</string>
		<string>uni0119</string>
		<string>uni011a</string>
		<string>uni011b</string>
		<string>uni011c</string>
		<string>uni011d</string>
		<string>Gbreve</string>
		<string>gbreve</string>
		<string>uni0120</string>
		<string>uni0121</string>
		<string>uni0122</string>
		<string>uni0123</string>
		<string>uni0124</string>
		<string>uni0125</string>
		<string>uni0126</string>
		<string>uni0127</string>
		<string>uni0128</string>
		<string>uni0129</string>
		<string>uni012a</string>
		<string>uni012b</string>
		<string>uni012c</string>
		<string>uni012d</string>
		<string>uni012e</string>
		<string>uni012f</string>
		<string>Idotaccent</string>
		<string>dotlessi</string>
		<string>uni0132</string>
		<string>uni0133</string>
		<string>uni0134</string>
		<string>uni0135</string>
		<string>uni0136</string>
		<string>uni0137</string>
		<string>uni0138</string>
		<string>uni0139</string>
		<string>uni013a</string>
		<string>uni013b</string>
		<string>uni013c</string>
		<string>uni013d</string>
		<string>uni013e</string>
		<string>uni013f</string>
		<string>uni0140</string>
		<string>Lslash</string>
		<string>lslash</string>
		<string>uni0143</string>
		<string>uni0144</string>
		<string>uni0145</string>
		<string>uni0146</string>
		<string>uni0147</string>
		<string>uni0148</string>
		<string>uni0149</string>
		<string>uni014a</string>
		<string>uni014b</string>
		<string>uni014c</string>
		<string>uni014d</string>
		<string>uni014e</string>
		<string>uni014f</string>
		<string>uni0150</string>
		<string>uni0151</string>
		<string>OE</string>
		<string>oe</string>
		<string>uni0154</string>
		<string>uni0155</string>
		<string>uni0156</string>
		<string>uni0157</string>
		<string>uni0158</string>
		<string>uni0159</string>
		<string>uni015a</string>
		<string>uni015b</string>
		<string>uni015c</string>
		<string>uni015d</string>
		<string>Scedilla</string>
		<string>scedilla</string>
		<string>Scaron</string>
		<string>scaron</string>
		<string>uni0162</string>
		<string>uni0163</string>
		<string>uni0164</string>
		<string>uni0165</string>
		<string>uni0166</string>
		<string>uni0167</string>
		<string>uni0168</string>
		<string>uni0169</string>
		<string>uni016a</string>
		<string>uni016b</string>
		<string>uni016c</string>
		<string>uni016d</string>
		<string>uni016e</string>
		<string>uni016f</string>
		<string>uni0170</string>
		<string>uni0171</string>
		<string>uni0172</string>
		<string>uni0173</string>
		<string>uni0174</string>
		<string>uni0175</string>
		<string>uni0176</string>
		<string>uni0177</string>
		<string>Ydieresis</string>
		<string>uni0179</string>
		<string>uni017a</string>
		<string>uni017b</string>
		<string>uni017c</string>
		<string>Zcaron</string>
		<string>zcaron</string>
		<string>florin</string>
		<string>uni01fc</string>
		<string>uni01fd</string>
		<string>uni01fe</string>
		<string>uni01ff</string>
		<string>uni0237</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>uni0312</string>
		<string>uni0315</string>
		<string>uni0326</string>
		<string>uni1e80</string>
		<string>uni1e81</string>
		<string>uni1e82</string>
		<string>uni1e83</string>
		<string>uni1e84</string>
		<string>uni1e85</string>
		<string>uni1ef2</string>
		<string>uni1ef3</string>
		<string>endash</string>
		<string>emdash</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotedblbase</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>bullet</string>
		<string>ellipsis</string>
		<string>perthousand</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>fraction</string>
		<string>uni20ac</string>
		<string>uni20bf</string>
		<string>trademark</string>
		<string>partialdiff</string>
		<string>minus</string>
		<string>approxequal</string>
		<string>fi</string>
		<string>fl</string>
	</array>
	<key>com.schriftgestaltung.master.name</key>
	<string>Mono</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>400</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>5</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>.null</string>
		<string>CR</string>
		<string>space</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>nonbreakingspace</string>
		<string>exclamdown</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>dieresis</string>
		<string>copyright</string>
		<string>ordfeminine</string>
		<string>guillemotleft</string>
		<string>logicalnot</string>
		<string>uni00ad</string>
		<string>registered</string>
		<string>macron</string>
		<string>degree</string>
		<string>plusminus</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>acute</string>
		<string>mu</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>cedilla</string>
		<string>onesuperior</string>
		<string>ordmasculine</string>
		<string>guillemotright</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>questiondown</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>Ccedilla</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Eth</string>
		<string>Ntilde</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>multiply</string>
		<string>Oslash</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Thorn</string>
		<string>germandbls</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>eth</string>
		<string>ntilde</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>divide</string>
		<string>oslash</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>yacute</string>
		<string>thorn</string>
		<string>ydieresis</string>
		<string>uni0100</string>
		<string>uni0101</string>
		<string>uni0102</string>
		<string>uni0103</string>
		<string>uni0104</string>
		<string>uni0105</string>
		<string>Cacute</string>
		<string>cacute</string>
		<string>uni0108</string>
		<string>uni0109</string>
		<string>uni010a</string>
		<string>uni010b</string>
		<string>Ccaron</string>
		<string>ccaron</string>
		<string>uni010e</string>
		<string>uni010f</string>
		<string>uni0110</string>
		<string>dcroat</string>
		<string>uni0112</string>
		<string>uni0113</string>
		<string>uni0114</string>
		<string>uni0115</string>
		<string>uni0116</string>
		<string>uni0117</string>
		<string>uni0118</string>
		<string>uni0119</string>
		<string>uni011a</string>
		<string>uni011b</string>
		<string>uni011c</string>
		<string>uni011d</string>
		<string>Gbreve</string>
		<string>gbreve</string>
		<string>uni0120</string>
		<string>uni0121</string>
		<string>uni0122</string>
		<string>uni0123</string>
		<string>uni0124</string>
		<string>uni0125</string>
		<string>uni0126</string>
		<string>uni0127</string>
		<string>uni0128</string>
		<string>uni0129</string>
		<string>uni012a</string>
		<string>uni012b</string>
		<string>uni012c</string>
		<string>uni012d</string>
		<string>uni012e</string>
		<string>uni012f</string>
		<string>Idotaccent</string>
		<string>dotlessi</string>
		<string>uni0132</string>
		<string>uni0133</string>
		<string>uni0134</string>
		<string>uni0135</string>
		<string>uni0136</string>
		<string>uni0137</string>
		<string>uni0138</string>
		<string>uni0139</string>
		<string>uni013a</string>
		<string>uni013b</string>
		<string>uni013c</string>
		<string>uni013d</string>
		<string>uni013e</string>
		<string>uni013f</string>
		<string>uni0140</string>
		<string>Lslash</string>
		<string>lslash</string>
		<string>uni0143</string>
		<string>uni0144</string>
		<string>uni0145</string>
		<string>uni0146</string>
		<string>uni0147</string>
		<string>uni0148</string>
		<string>uni0149</string>
		<string>uni014a</string>
		<string>uni014b</string>
		<string>uni014c</string>
		<string>uni014d</string>
		<string>uni014e</string>
		<string>uni014f</string>
		<string>uni0150</string>
		<string>uni0151</string>
		<string>OE</string>
		<string>oe</string>
		<string>uni0154</string>
		<string>uni0155</string>
		<string>uni0156</string>
		<string>uni0157</string>
		<string>uni0158</string>
		<string>uni0159</string>
		<string>uni015a</string>
		<string>uni015b</string>
		<string>uni015c</string>
		<string>uni015d</string>
		<string>Scedilla</string>
		<string>scedilla</string>
		<string>Scaron</string>
		<string>scaron</string>
		<string>uni0162</string>
		<string>uni0163</string>
		<string>uni0164</string>
		<string>uni0165</string>
		<string>uni0166</string>
		<string>uni0167</string>
		<string>uni0168</string>
		<string>uni0169</string>
		<string>uni016a</string>
		<string>uni016b</string>
		<string>uni016c</string>
		<string>uni016d</string>
		<string>uni016e</string>
		<string>uni016f</string>
		<string>uni0170</string>
		<string>uni0171</string>
		<string>uni0172</string>
		<string>uni0173</string>
		<string>uni0174</string>
		<string>uni0175</string>
		<string>uni0176</string>
		<string>uni0177</string>
		<string>Ydieresis</string>
		<string>uni0179</string>
		<string>uni017a</string>
		<string>uni017b</string>
		<string>uni017c</string>
		<string>Zcaron</string>
		<string>zcaron</string>
		<string>florin</string>
		<string>uni01fc</string>
		<string>uni01fd</string>
		<string>uni01fe</string>
		<string>uni01ff</string>
		<string>uni0237</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>uni0312</string>
		<string>uni0315</string>
		<string>uni0326</string>
		<string>uni1e80</string>
		<string>uni1e81</string>
		<string>uni1e82</string>
		<string>uni1e83</string>
		<string>uni1e84</string>
		<string>uni1e85</string>
		<string>uni1ef2</string>
		<string>uni1ef3</string>
		<string>endash</string>
		<string>emdash</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotedblbase</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>bullet</string>
		<string>ellipsis</string>
		<string>perthousand</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>fraction</string>
		<string>uni20ac</string>
		<string>uni20bf</string>
		<string>trademark</string>
		<string>partialdiff</string>
		<string>minus</string>
		<string>approxequal</string>
		<string>fi</string>
		<string>fl</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>mu</key>
		<string>uni00B5</string>
		<key>nonbreakingspace</key>
		<string>uni00A0</string>
		<key>onesuperior</key>
		<string>uni00B9</string>
		<key>threesuperior</key>
		<string>uni00B3</string>
		<key>twosuperior</key>
		<string>uni00B2</string>
		<key>uni00ad</key>
		<string>uni00AD</string>
		<key>uni013b</key>
		<string>uni013B</string>
		<key>uni013c</key>
		<string>uni013C</string>
		<key>uni20ac</key>
		<string>Euro</string>
		<key>uni20bf</key>
		<string>uni20BF</string>
	</dict>
</dict>
</plist>
